# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.suo
*.opensdf

packages/
Debug/
Release/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
